<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../paper-header-panel/paper-header-panel.html">
<link rel="import" href="../paper-fab/paper-fab.html">
<link rel="import" href="../paper-toolbar/paper-toolbar.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<link rel="import" href="campus-core-course-editor.html">
<link rel="import" href="campus-core-course-picker.html">
<link rel="import" href="campus-core-course-student.html">
<link rel="import" href="campus-core-course-teacher.html">
<!--
`campus-core-course`
@demo demo/campus-core-course.html
-->
<dom-module id="campus-core-course">
    <style include="iron-flex iron-flex-alignment"></style>
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            background: #f2f2f2;
            height: 100%;
        }
        
        :host .cell-item {
            margin-top: 16px;
        }
        
        :host .header {
            padding: 0 16px;
        }
        
        :host .content {
            max-width: 768px;
        }
        
        @media (min-width: 769px) {
            :host .content {
                padding: 12px;
                margin: 0 auto;
            }
        }
        
        @media (max-width: 1024px) {
            :host paper-toolbar {
                display: none;
            }
        }
    </style>
    <template>
        <paper-header-panel main mode="waterfall">
            <paper-toolbar></paper-toolbar>
            <div class="content">
                <div class="header layout horizontal center">
                    <campus-core-course-picker id="picker"></campus-core-course-picker>
                    <div class="flex-auto"></div>
                    <paper-fab mini icon="icons:add" on-tap="_addNew" style="margin-left:8px;min-width:40px">[[translate._01]]</paper-fab>
                </div>
                <div class="layout vertical">
                    <campus-core-course-editor class="cell-item" id="editor" selected="[[course]]"></campus-core-course-editor>
                    <campus-core-course-teacher class="cell-item" course="[[course]]" hidden$="[[onAddNew]]"></campus-core-course-teacher>
                    <campus-core-course-student class="cell-item" course="[[course]]" hidden$="[[onAddNew]]"></campus-core-course-student>
                </div>
            </div>
        </paper-header-panel>
    </template>
    <script>
        Polymer({
            is: "campus-core-course",

            properties: {
                /*
                 * 課程 (zh-tw), 课程 (zh-cn), Course (en-us), Khóa học (vi-vn)
                 */
                title: {
                    type: Object,
                    readOnly: true
                },
                /*
                 * 編輯的課程
                 */
                course: Object
            },

            behaviors: [Campus.TranslateBehavior],

            ready: function() {
                this._setTitle({
                    'zh-tw': '課程',
                    'zh-cn': '课程',
                    'en-us': 'Course',
                    'vi-vn': 'Khóa học'
                });

                this.initTranslate({
                    'default': 'zh-tw',
                    'zh-tw': {
                        '_00': '課程',
                        '_01': '新增'
                    },
                    'zh-cn': {
                        '_00': '课程',
                        '_01': '新增'
                    },
                    'en-us': {
                        '_00': 'Course',
                        '_01': 'Add'
                    },
                    'vi-vn': {
                        '_00': 'Khóa học',
                        '_01': 'Tạo mới'
                    }
                });

                this.$.picker.addEventListener('changed', function(e) {
                    e.stopPropagation();
                    this.set('course', e.detail);
                    this.set('onAddNew', false);
                }.bind(this));

                this.$.editor.addEventListener('changed', function(e) {
                    e.stopPropagation();
                    this.set('course', e.detail);
                    this.set('onAddNew', false);
                }.bind(this));
            },

            _addNew: function() {
                this.set('course', null);
                this.set('onAddNew', true);

                this.$.editor.addNew();
            }
        });
    </script>
</dom-module>
