<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../paper-menu/paper-menu.html">
<link rel="import" href="../paper-toast/paper-toast.html">
<link rel="import" href="../campus-core-class/campus-core-class-picker.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<!--
`campus-core-course-editor`
@demo demo/campus-core-course-editor.html
-->
<dom-module id="campus-core-course-editor">
    <style include="iron-flex iron-flex-alignment iron-flex-factors"></style>
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
        
        :host .dark-primary-text-color {
            color: var(--dark-primary-color);
        }
        
        :host .secondary-text-color {
            color: var(--secondary-text-color);
        }
        
        :host .tbar {
            padding: 4px 12px 4px 16px;
            line-height: 24px;
        }
        
        :host .tpib {
            width: 32px;
            height: 32px;
            padding: 4px;
        }
        
        :host .cell-container {
            padding: 16px 8px;
        }
        
        @media (min-width: 780px) {
            :host .cell-item {
                padding: 0 8px;
                width: 226px;
            }
        }
        
        @media (max-width: 779px) {
            :host .cell-item {
                padding: 0 8px;
                flex: 1 1 340px;
            }
        }
    </style>
    <template>
        <div class="layout horizontal center wrap secondary-text-color tbar">
            <div class="flex-auto" style="font-size:18px">[[translate._01]]</div>
            <paper-icon-button class="tpib" icon="icons:done" on-tap="_saveInfo"></paper-icon-button>
            <div class="layout horizontal center" hidden$="[[course.isAddNew]]">
                <paper-icon-button class="tpib" icon="icons:refresh" on-tap="_refreshInfo"></paper-icon-button>
                <paper-icon-button class="tpib" icon="icons:delete" on-tap="_deleteInfo"></paper-icon-button>
            </div>
        </div>
        <paper-material style="background:#fff">
            <div class="layout horizontal wrap cell-container">
                <div class="layout vertical cell-item">
                    <div class="layout horizontal center">
                        <paper-input class="flex" label="[[translate._02]]" value="{{course.SchoolYear}}"></paper-input>
                        <div style="width:20px"></div>
                        <paper-dropdown-menu class="flex" label="[[translate._03]]">
                            <paper-menu class="dropdown-content" selected="{{course.Semester}}" attr-for-selected="value">
                                <paper-item value="1">[[translate._04]]</paper-item>
                                <paper-item value="2">[[translate._05]]</paper-item>
                            </paper-menu>
                        </paper-dropdown-menu>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._06]]" value="{{course.CourseName}}"></paper-input>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._07]]" value="{{course.Subject}}"></paper-input>
                    </div>
                    <div class="layout horizontal center">
                        <campus-core-class-picker class="flex" id="classPicker" selected="[[course.ClassName]]"></campus-core-class-picker>
                        <div style="width:10px"></div>
                        <paper-icon-button class="secondary-text-color" icon="clear" on-tap="_removeClass"></paper-icon-button>
                    </div>
                </div>
            </div>
        </paper-material>
        <paper-toast id="toast"></paper-toast>
    </template>
    <script>
        Polymer({
            is: "campus-core-course-editor",

            properties: {
                /*
                 * 編輯的課程
                 */
                selected: {
                    type: Object,
                    observer: '_selectedChanged'
                }
            },

            behaviors: [Campus.TranslateBehavior, Campus.ServiceBehavior],

            ready: function() {
                this.initTranslate({
                    'default': 'zh-tw',
                    'zh-tw': {
                        '_01': '基本資料',
                        '_02': '學年度',
                        '_03': '學期',
                        '_04': '上學期',
                        '_05': '下學期',
                        '_06': '名稱',
                        '_07': '科目',
                        '_08': '更新完成!',
                        '_09': '更新失敗! 請確認資料是否正確!'
                    },
                    'zh-cn': {
                        '_01': '基本资料',
                        '_02': '学年度',
                        '_03': '学期',
                        '_04': '上学期',
                        '_05': '下学期',
                        '_06': '名称',
                        '_07': '科目',
                        '_08': '更新完成!',
                        '_09': '更新失败! 请确认资料是否正确!'
                    },
                    'en-us': {
                        '_01': 'Info',
                        '_02': 'Year',
                        '_03': 'Semester',
                        '_04': '1',
                        '_05': '2',
                        '_06': 'Name',
                        '_07': 'Subject',
                        '_08': 'Update completed!',
                        '_09': 'Update failed!'
                    },
                    'vi-vn': {
                        '_01': 'Dữ liệu cơ bản',
                        '_02': 'Năm học',
                        '_03': 'Học kỳ',
                        '_04': 'Học kỳ  đầu',
                        '_05': 'Học kỳ  sau',
                        '_06': 'Tên gọi',
                        '_07': 'Môn học',
                        '_08': 'Cập nhật hoàn thành!',
                        '_09': 'Cập nhật thất bại, xin xác nhận lại chính xác dữ liệu!'
                    }
                });

                this.$.classPicker.addEventListener('changed', function(e) {
                    e.stopPropagation();

                    this.set('clazz', e.detail);
                }.bind(this));
            },

            /*
             * 新增班級
             */
            addNew: function() {
                this.set('selected', null);
                this.set('clazz', null);
                this.set('course', {
                    action: 'Insert',
                    isAddNew: true
                });
            },

            _selectedChanged: function(newValue, oldValue) {
                if (!newValue || !newValue.id) return;

                this.set('course', {
                    action: 'Update'
                });

                this._getInfo();
            },

            _getInfo: function() {
                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Course.GetDetailList',
                    body: ['<Request><Field><ID/><SchoolYear/><Semester/><CourseName/><Subject/><ClassName/></Field><Condition><ID>', this.selected.id, '</ID></Condition><Order><SchoolYear/><Semester/><CourseName/></Order></Request>']
                        .join('')
                };

                this.generateRequest(request, function(response) {
                    if (response && response.Courses) {
                        var item = [].concat(response.Courses.Course || [])[0];

                        this.set('course.SchoolYear', item.SchoolYear);
                        this.set('course.Semester', item.Semester);
                        this.set('course.CourseName', item.CourseName);
                        this.set('course.Subject', item.Subject);
                        this.set('course.ClassName', item.ClassName);
                        this.set('course.isUpdate', true);
                    }
                }.bind(this));
            },

            _saveInfo: function() {
                var request = {};

                if (this.course.action === 'Insert') {
                    request = {
                        contract: 'schoolaccess',
                        service: 'SmartSchool.Course.Insert',
                        body: {
                            Request: {
                                Course: {
                                    SchoolYear: this.course.SchoolYear,
                                    Semester: this.course.Semester,
                                    CourseName: this.course.CourseName,
                                    Subject: this.course.Subject
                                }
                            }
                        }
                    };

                    if (this.clazz) request.body.Request.Course.RefClassID = this.clazz.id;
                } else {
                    request = {
                        contract: 'schoolaccess',
                        service: 'SmartSchool.Course.Update',
                        body: {
                            Request: {
                                Course: {
                                    Field: {
                                        SchoolYear: this.course.SchoolYear,
                                        Semester: this.course.Semester,
                                        CourseName: this.course.CourseName,
                                        Subject: this.course.Subject
                                    },
                                    Condition: {
                                        ID: this.selected.id
                                    }
                                }
                            }
                        }
                    };

                    if (this.clazz) request.body.Request.Course.Field.RefClassID = this.clazz.id;
                }

                this.generateRequest(request, function(response) {
                    if (response && response.Result && Math.ceil(response.Result.$.EffectRows) > 0) {
                        this.$.toast.show({
                            text: this.translate._08,
                            duration: 1000
                        });

                        setTimeout(function() {
                            if (this.course.action === 'Insert')
                                this.fire('changed', {
                                    type: 'Insert'
                                });
                            else
                                this.fire('changed', {
                                    id: this.selected.id,
                                    label: this.selected.label,
                                    target: this.course,
                                    type: 'Update'
                                });
                        }.bind(this), 1000);
                    }
                }.bind(this));
            },

            _deleteInfo: function() {
                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Course.Delete',
                    body: ['<Request><Course><ID>', this.selected.id, '</ID></Course></Request>'].join('')
                };

                this.generateRequest(request, function(response) {
                    if (response && response.Result && Math.ceil(response.Result.$.EffectRows) > 0) {
                        this.$.toast.show({
                            text: this.translate._08,
                            duration: 1000
                        });

                        setTimeout(function() {
                            this.fire('changed', {
                                id: this.selected.id,
                                label: this.selected.label,
                                target: this.course,
                                type: 'Delete'
                            });
                        }.bind(this), 1000);
                    } else {
                        this.$.toast.show({
                            text: this.translate._09,
                            duration: 1000
                        });
                    }
                }.bind(this));
            },

            _refreshInfo: function() {
                this._getInfo();
            },

            _removeClass: function() {
                this.set('clazz', {
                    id: ''
                });
                this.set('course.ClassName', '');
            }
        });

        /*
         * 當資料變動 (新增、修改、刪除)，將觸發此事件
         * @event changed
         */
    </script>
</dom-module>
