<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../paper-header-panel/paper-header-panel.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-item/paper-item-body.html">
<link rel="import" href="../paper-menu/paper-menu.html">
<link rel="import" href="../paper-spinner/paper-spinner.html">
<link rel="import" href="../paper-toolbar/paper-toolbar.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<!--
`campus-core-course-list`
@demo demo/campus-core-course-list.html
-->
<dom-module id="campus-core-course-list">
    <style include="iron-flex iron-flex-alignment iron-flex-factors iron-positioning"></style>
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            height: 100%;
        }
        
        :host paper-toolbar paper-input {
            --paper-input-container-color: #eee;
            --paper-input-container-focus-color: #fff;
            --paper-input-container-input-color: #fff;
        }
        
        :host paper-item {
            color: var(--secondary-text-color);
        }
        
        :host paper-item:hover {
            background-color: rgba(0, 0, 0, .037);
            cursor: pointer;
        }
        
        :host paper-item-body {
            min-height: 64px;
        }
        
        :host .ellipsis-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
        :host .paper-header {
            height: 56px;
            padding: 0 16px;
        }
        
        :host .paper-footer {
            height: 56px;
            padding: 0 0 0 16px;
            border-top: 1px solid #ddd;
            margin-top: 8px;
        }
    </style>
    <template>
        <div class="fit layout vertical center-center" hidden$="[[!loadding]]">
            <paper-spinner active="[[loadding]]"></paper-spinner>
        </div>
        <div class="fit layout vertical">
            <paper-header-panel mode="waterfall">
                <paper-toolbar>
                    <paper-input class="flex-auto" no-label-float label="[[translate._05]]" value="{{filterString::input}}">
                        <iron-icon icon="icons:icons:search" style="margin-right:4px" prefix></iron-icon>
                    </paper-input>
                </paper-toolbar>
                <div>
                    <div class="paper-header layout horizontal center">
                        <paper-input class="flex-auto" label="[[translate._01]]" value="{{schoolYear}}"></paper-input>
                        <div style="width:10px"></div>
                        <paper-dropdown-menu class="flex-auto" label="[[translate._02]]">
                            <paper-menu class="dropdown-content" selected="{{semester}}" attr-for-selected="value">
                                <paper-item value="1" on-tap="_toggleSemester">[[translate._03]]</paper-item>
                                <paper-item value="2" on-tap="_toggleSemester">[[translate._04]]</paper-item>
                            </paper-menu>
                        </paper-dropdown-menu>
                    </div>
                    <template is="dom-repeat" items="[[items]]" filter="{{_filter(filterString)}}">
                        <paper-item on-tap="_selectItem">
                            <paper-item-body two-line>
                                <div class="layout horizontal center">
                                    <paper-checkbox checked$="[[item.checked]]" hidden$="[[!multiSelected]]"></paper-checkbox>
                                    <div class="ellipsis-text flex">[[item.CourseName]]</div>
                                </div>
                                <div class="layout horizontal center" secondary>
                                    <div class="ellipsis-text flex">[[item.Subject]]</div>
                                    <div>[[item.ClassName]]</div>
                                </div>
                            </paper-item-body>
                        </paper-item>
                    </template>
                </div>
            </paper-header-panel>
            <div class="paper-footer layout horizontal center" hidden$="[[!multiSelected]]">
                <paper-checkbox id="checkAll" on-change="_checkedAll">[[translate._06]]</paper-checkbox>
                <div class="flex-auto"></div>
                <paper-button on-tap="_selectChecked">[[translate._07]]</paper-button>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "campus-core-course-list",

            properties: {
                multiSelected: {
                    type: Boolean,
                    value: false
                }
            },

            behaviors: [Campus.TranslateBehavior, Campus.ServiceBehavior],

            ready: function() {
                this.initTranslate({
                    'default': 'zh-tw',
                    'zh-tw': {
                        '_01': '學年度',
                        '_02': '學期',
                        '_03': '上學期',
                        '_04': '下學期',
                        '_05': '名稱, 科目, 班級',
                        '_06': '全部選取',
                        '_07': '確定'
                    },
                    'zh-cn': {
                        '_01': '学年度',
                        '_02': '学期',
                        '_03': '上学期',
                        '_04': '下学期',
                        '_05': '名称, 科目, 班级',
                        '_06': '全部选取',
                        '_07': '确定'
                    },
                    'en-us': {
                        '_01': 'Year',
                        '_02': 'Semester',
                        '_03': '1',
                        '_04': '2',
                        '_05': 'Name, Subject, Class',
                        '_06': 'Select all',
                        '_07': 'OK'
                    },
                    'vi-vn': {
                        '_01': 'Năm học',
                        '_02': 'Học kỳ',
                        '_03': 'Học kỳ  đầu',
                        '_04': 'Học kỳ  sau',
                        '_05': 'Tên gọi, môn, lớp',
                        '_06': 'Select all',
                        '_07': 'OK'
                    }
                });

                this._getSystemConfig();
            },

            /*
             * 重新整理清單
             */
            reload: function() {
                this._getItems();
            },

            _getSystemConfig: function() {
                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Config.GetSystemConfig',
                    body: '<FieldList><All/></FieldList>'
                };

                this.generateRequest(request, function(response) {
                    if (response && response.GetSystemConfigResponse) {
                        this.set('schoolYear', response.GetSystemConfigResponse.SystemConfig.DefaultSchoolYear);
                        this.set('semester', response.GetSystemConfigResponse.SystemConfig.DefaultSemester);
                        this._getItems();
                    }
                }.bind(this));
            },

            _getItems: function() {
                this.set('loadding', true);
                this.set('filterString', null);
                this.set('items', []);

                this.$.checkAll.checked = false;

                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Course.GetDetailList',
                    body: ['<Request><Field><ID/><SchoolYear/><Semester/><CourseName/><Subject/><ClassName/></Field><Condition><SchoolYear>', this.schoolYear, '</SchoolYear><Semester>', this.semester,
                        '</Semester></Condition><Order><SchoolYear/><Semester/><CourseName/></Order></Request>'
                    ].join('')
                };

                this.generateRequest(request, function(response) {
                    if (response && response.Courses) {
                        var items = [].concat(response.Courses.Course || []);
                        items.forEach(function(item, idx) {
                            item.idx = idx;
                            item.checked = false;
                        });
                        this.set('items', items);
                    } else
                        this.set('items', []);

                    this.set('loadding', false);
                }.bind(this));
            },

            _toggleSemester: function(e) {
                setTimeout(function() {
                    this._getItems();
                }.bind(this), 300);
            },

            _selectItem: function(e) {
                if (!this.multiSelected) {
                    this.fire('changed', {
                        id: e.model.item.$.ID,
                        label: e.model.item.CourseName,
                        target: e.model.item
                    });
                } else {
                    this.set(['items.', e.model.item.idx, '.checked'].join(''), !this.items[e.model.item.idx].checked);
                }
            },

            _selectChecked: function(e) {
                var items = [];
                this.items.forEach(function(item) {
                    if (item.checked) {
                        items.push({
                            id: item.$.ID,
                            label: item.CourseName,
                            target: item
                        });
                    }
                });

                this.fire('selected', items);
            },

            _filter: function(value) {
                if (!value)
                    return null;
                else {
                    value = value.toLowerCase();
                    return function(item) {
                        return (item.CourseName.toLowerCase().indexOf(value) !== -1 ||
                            item.Subject.toLowerCase().indexOf(value) !== -1 ||
                            item.ClassName.toLowerCase().indexOf(value) !== -1);
                    };
                }
            },

            _checkedAll: function(e) {
                this.items.forEach(function(item, index) {
                    this.set(['items.', index, '.checked'].join(''), e.target.checked);
                }.bind(this));
            }
        });

        /*
         * 每當清單中的選項被選取時，將觸發此事件
         * @event changed
         */

        /*
         * multiSelected = true 選取多筆資料後，將觸發此事件
         * @event selected
         */
    </script>
</dom-module>
