<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-menu/paper-menu.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<!--
`campus-core-course-picker`
@demo demo/campus-core-course-picker.html
-->
<dom-module id="campus-core-course-picker">
    <style include="iron-flex iron-flex-alignment iron-flex-factors"></style>
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
        
        :host paper-dropdown-menu paper-menu {
            --paper-menu: {
                padding: 0;
                min-width: 100px;
                max-height: 320px;
            }
        }

        :host .cell-item {
            margin: 0 4px;
            flex: 1 1 120px;
        }
    </style>
    <template>
        <div class="layout horizontal center wrap">
            <paper-input class="cell-item" label="[[translate._01]]" value="{{schoolYear}}"></paper-input>
            <paper-dropdown-menu class="cell-item" label="[[translate._02]]">
                <paper-menu class="dropdown-content" selected="{{semester}}" attr-for-selected="value">
                    <paper-item value="1">[[translate._03]]</paper-item>
                    <paper-item value="2">[[translate._04]]</paper-item>
                </paper-menu>
            </paper-dropdown-menu>
            <paper-dropdown-menu class="cell-item" label="[[translate._05]]">
                <paper-menu class="dropdown-content" selected="{{selected}}" attr-for-selected="value">
                    <template is="dom-repeat" items="[[_items]]">
                        <paper-item value="[[item.CourseName]]" on-tap="_selectItem">[[item.CourseName]]</paper-item>
                    </template>
                </paper-menu>
            </paper-dropdown-menu>
        </div>
    </template>
    <script>
        Polymer({
            is: 'campus-core-course-picker',

            properties: {
                selected: {
                    type: String
                },
                /*
                 * 學年度
                 */
                schoolYear: {
                    type: Number,
                    observer: '_schoolYearChanged'
                },
                /*
                 * 學期
                 */
                semester: {
                    type: Number,
                    observer: '_semesterChanged'
                },
                /*
                 * 課程清單
                 */
                items: {
                    type: Array,
                    readOnly: true
                }
            },

            behaviors: [Campus.TranslateBehavior, Campus.ServiceBehavior],

            ready: function() {
                this.initTranslate({
                    'default': 'zh-tw',
                    'zh-tw': {
                        '_01': '學年度',
                        '_02': '學期',
                        '_03': '上學期',
                        '_04': '下學期',
                        '_05': '課程'
                    },
                    'zh-cn': {
                        '_01': '学年度',
                        '_02': '学期',
                        '_03': '上学期',
                        '_04': '下学期',
                        '_05': '课程'
                    },
                    'en-us': {
                        '_01': 'Year',
                        '_02': 'Semster',
                        '_03': '1',
                        '_04': '2',
                        '_05': 'Course'
                    },
                    'vi-vn': {
                        '_01': 'Năm học',
                        '_02': 'Học kỳ',
                        '_03': 'Học kỳ  đầu',
                        '_04': 'Học kỳ  sau',
                        '_05': 'Khóa học'
                    }
                });

                this._getSystemConfig();
            },

            _schoolYearChanged: function(newValue, oldValue) {
                this._getItems();
            },

            _semesterChanged: function(newValue, oldValue) {
                this._getItems();
            },

            _getSystemConfig: function() {
                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Config.GetSystemConfig',
                    body: '<FieldList><All/></FieldList>'
                };

                this.generateRequest(request, function(response) {
                    if (response && response.GetSystemConfigResponse) {
                        this.set('schoolYear', Math.ceil(response.GetSystemConfigResponse.SystemConfig.DefaultSchoolYear));
                        this.set('semester', Math.ceil(response.GetSystemConfigResponse.SystemConfig.DefaultSemester));
                    }
                }.bind(this));
            },

            _getItems: function() {
                if (!this.schoolYear || !this.semester) return;

                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Course.GetDetailList',
                    body: ['<Request><Field><ID/><SchoolYear/><Semester/><CourseName/><Subject/><ClassName/><TeacherName/></Field><Condition><SchoolYear>', this.schoolYear, '</SchoolYear><Semester>', this.semester,
                        '</Semester></Condition><Order><SchoolYear/><Semester/><CourseName/></Order></Request>'
                    ].join('')
                };

                this.generateRequest(request, function(response) {
                    if (response && response.Courses) {
                        var items = [].concat(response.Courses.Course || []);
                        this.set('_items', items);
                        this._setItems(items);
                    } else
                        this.set('_items', []);

                    if (this.items.length > 0) {
                        this.set('selected', this.items[0].CourseName);
                        this.fire('changed', {
                            id: this.items[0].$.ID,
                            label: this.items[0].CourseName,
                            target: this.items[0]
                        });
                    }
                }.bind(this));
            },

            _selectItem: function(e) {
                this.fire('changed', {
                    id: e.model.item.ID,
                    label: e.model.item.CourseName,
                    target: e.model.item
                });
            }
        });

        /*
         * 每當清單中的選項被選取時，將觸發此事件
         * @event changed
         */
    </script>
</dom-module>
