<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../paper-toast/paper-toast.html">
<link rel="import" href="../campus-core-teacher/campus-core-teacher-list.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<!--
`campus-core-course-teacher`
@demo demo/campus-core-course-teacher.html
-->
<dom-module id="campus-core-course-teacher">
    <style include="iron-flex iron-flex-alignment"></style>
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
        
        :host paper-item {
            color: rgba(0, 0, 0, .67);
        }
        
        :host paper-item:hover {
            background-color: rgba(0, 0, 0, .13);
            cursor: pointer;
        }
        
        :host paper-dialog> *:first-child,
        :host paper-dialog> *:last-child {
            margin: 0;
        }
        
        :host paper-dialog-scrollable {
            --paper-dialog-scrollable: {
                padding: 0;
            }
        }
        
        :host .ellipsis-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
        :host .dark-primary-text-color {
            color: var(--dark-primary-color);
        }
        
        :host .primary-text-color {
            color: var(--primary-text-color);
        }
        
        :host .secondary-text-color {
            color: var(--secondary-text-color);
        }
        
        :host .tbar {
            padding: 4px 12px 4px 16px;
            line-height: 24px;
        }
        
        :host .tpib {
            width: 32px;
            height: 32px;
            padding: 4px;
        }
    </style>
    <template>
        <div class="layout horizontal center wrap secondary-text-color tbar">
            <div class="flex-auto" style="font-size:18px">[[translate._01]]</div>
            <paper-icon-button class="tpib" icon="icons:add" on-tap="_showTeacherDialog"></paper-icon-button>
        </div>
        <paper-material style="background:#fff;min-height:48px">
            <template is="dom-repeat" items="[[items]]">
                <paper-item style="border-top:1px solid #eee;margin-top:-1px">
                    <div class="primary-text-color flex ellipsis-text">[[item.TeacherName]]</div>
                    <paper-icon-button icon="icons:delete" class="secondary-text-color" on-tap="_removeItem"></paper-icon-button>
                </paper-item>
            </template>
        </paper-material>
        <paper-toast id="toast"></paper-toast>
        <paper-dialog id="teacherDialog" with-backdrop>
            <paper-dialog-scrollable>
                <div style="width:240px;height:480px">
                    <campus-core-teacher-list id="teacherList" multi-selected="true"></campus-core-teacher-list>
                </div>
            </paper-dialog-scrollable>
        </paper-dialog>
    </template>
    <script>
        Polymer({
            is: "campus-core-course-teacher",

            properties: {
                /*
                 * 課程
                 */
                course: {
                    type: Object,
                    observer: '_courseChanged'
                }
            },

            behaviors: [Campus.TranslateBehavior, Campus.ServiceBehavior],

            ready: function() {
                this.initTranslate({
                    'default': 'zh-tw',
                    'zh-tw': {
                        '_01': '教師',
                        '_02': '更新完成!'
                    },
                    'zh-cn': {
                        '_01': '教师',
                        '_02': '更新完成!'
                    },
                    'en-us': {
                        '_01': 'Teacher',
                        '_02': 'Update completed!'
                    },
                    'vi-vn': {
                        '_01': 'Giáo viên',
                        '_02': 'Cập nhật hoàn thành!'
                    }
                });

                this.$.teacherList.addEventListener('selected', function(e) {
                    e.stopPropagation();

                    this.set('teachers', e.detail);
                    this._addItems();
                    this.$.teacherDialog.close();
                    this.$.teacherList.reload();
                }.bind(this));
            },

            _courseChanged: function(newValue, oldValue) {
                if (!newValue || !newValue.id) return;

                this._getItems();
            },

            _showTeacherDialog: function() {
                this.$.teacherList.reload();
                this.$.teacherDialog.open();
            },

            _getItems: function() {
                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Course.GetTCInstruct',
                    body: ['<Request><ID/><RefTeacherID/><Sequence/><Condition><RefCourseID>', this.course.id, '</RefCourseID></Condition></Request>'].join('')
                };

                this.generateRequest(request, function(response) {
                    if (response && response.TCInstructs) {
                        var tc_items = [].concat(response.TCInstructs.TCInstruct || []);
                        var condition = [];
                        tc_items.forEach(function(item) {
                            condition.push(['<ID>', item.RefTeacherID, '</ID>'].join(''));
                        });

                        var request = {
                            contract: 'schoolaccess',
                            service: 'SmartSchool.Teacher.GetDetailList',
                            body: ['<Request><Field><ID/><TeacherName/></Field><Condition>', condition.join(''), '</Condition><Order><TeacherName/></Order></Request>'].join('')
                        };

                        this.generateRequest(request, function(response) {
                            if (response && response.TeacherList) {
                                var items = [].concat(response.TeacherList.Teacher || []);
                                items.forEach(function(item) {
                                    tc_items.forEach(function(tc) {
                                        if (tc.RefTeacherID === item.$.ID) {
                                            item.TCID = tc.$.ID;
                                            item.RefTeacherID = Math.ceil(tc.RefTeacherID);
                                            item.Sequence = Math.ceil(tc.Sequence);
                                        }
                                    });
                                });
                                items.sort(function(x, y) {
                                    return x.Sequence - y.Sequence;
                                });

                                this.set('items', items);
                            }
                        }.bind(this));
                    } else
                        this.set('items', []);
                }.bind(this));
            },

            _addItems: function() {
                if (!this.course && !this.teachers) return;

                var instructs = [],
                    index = 1;
                this.teachers.forEach(function(t) {
                    var flag = false;
                    this.items.forEach(function(i) {
                        if (Math.ceil(t.id) === i.RefTeacherID) flag = true;
                    });

                    if (!flag) {
                        instructs.push(['<Instruct><Sequence>', index + (this.items.length > 0 ? this.items[this.items.length - 1].Sequence : 0), '</Sequence><RefTeacherID>', t.id, '</RefTeacherID><RefCourseID>', this.course.id,
                            '</RefCourseID></Instruct>'
                        ].join(''));
                        index += 1;
                    }
                }.bind(this));

                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Course.InsertTCInstruct',
                    body: ['<Request>', instructs.join(''), '</Request>'].join('')
                };

                this.generateRequest(request, function(response) {
                    if (response && response.Result && Math.ceil(response.Result.$.EffectRows) > 0) {
                        this.$.toast.show({
                            text: this.translate._02,
                            duration: 1000
                        });

                        setTimeout(function() {
                            this.fire('changed', {
                                teachers: this.teachers,
                                type: 'Add'
                            });
                        }.bind(this), 1000);

                        this._getItems();
                    }
                }.bind(this));
            },

            _removeItem: function(e) {
                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Course.DeleteTCInstruct',
                    body: ['<Request><Instruct><ID>', e.model.item.TCID, '</ID></Instruct></Request>'].join('')
                };

                this.generateRequest(request, function(response) {
                    if (response && response.Result && Math.ceil(response.Result.$.EffectRows) > 0) {
                        this.$.toast.show({
                            text: this.translate._02,
                            duration: 1000
                        });

                        setTimeout(function() {
                            this.fire('changed', {
                                id: e.model.item.TCID,
                                label: e.model.item.Name,
                                target: e.model.item,
                                type: 'Remove'
                            });
                        }.bind(this), 1000);

                        this._getItems();
                    }
                }.bind(this));
            }
        });

        /*
         * 當資料變動 (加入、移除)，將觸發此事件
         * @event changed
         */
    </script>
</dom-module>
