<link rel="import" href="campus-core-course-editor.html">
<link rel="import" href="campus-core-course-list.html">
<link rel="import" href="campus-core-course-picker.html">
<link rel="import" href="campus-core-course-student.html">
<link rel="import" href="campus-core-course-teacher.html">
<link rel="import" href="campus-core-course.html">
